body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .cadastro-container {
    height: 100vh;
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .logo-container img {
    width: 120px;
    height: auto;
  }